.ButtonWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.ChButton {
  background: none;
  font-size: 1.6rem;
  color: #616161;
  padding: 1rem 2rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.6s ease-in-out; */
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.FilterButton {
  background: none;
  font-size: 1.6rem;
  color: #616161;
  padding: 1rem 4rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.rateButton {
  background: none;
  font-size: 1.6rem;
  color: #616161;
  padding: 1rem 4rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.MuteButton {
  background: none;
  font-size: 1.6rem;
  color: #616161;
  padding: 1rem 2rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.ChemButton {
  background: none;
  font-size: 1.6rem;
  color: #616161;
  width: 100%;
  padding: 1rem 2rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.ChatButton {
  background: none;
  font-size: 1.6rem;
  color: #616161;
  padding: 1rem 2rem;
  border: 1px solid #919191;
  /* border-color: #919191;
  border-width: 1px; */
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.MuteIcon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.FilterIcon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.ChatIcon {
  width: 1.6rem;
  height: 1.6rem;
  /* margin-left: 1rem; */
}

.Menu {
  padding: 2rem 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: left;
  align-items: center;
}

.MenuText {
  font-size: 1.6rem;
}

.MenuSubText {
  font-size: 1.2rem;
}

.MenuWrapper {
  padding: 1rem 1rem;
  border-radius: 20px;
  border: 1px solid #616161;
  overflow-y: scroll;
  max-height: 500px;
}

@media screen and (min-width: 2500px) {
  .ChButton, .FilterButton,.rateButton, .MuteButton, .ChemButton, .ChatButton {
    font-size: 2rem;
  }

  .MuteIcon,
  .FilterIcon,
  .ChatIcon {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 1600px) {
   .ChButton, .FilterButton,.rateButton, .MuteButton, .ChemButton, .ChatButton {
    font-size: 1.4rem;
  }

  .MuteIcon,
  .FilterIcon,
  .ChatIcon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 1280px) {
  .ChButton,
  .ChemButton {
    font-size: 1.2rem;
  }

  .FilterButton {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }

  .MuteButton {
    font-size: 1.2rem;
  }
  .ChatButton {
    font-size: 1.2rem;
    /* padding: 0.5rem 3rem; */
  }
  
  .MuteIcon,
  .FilterIcon,
  .ChatIcon,.rateButton {
    width: 1.2rem;
    height: 1.2rem;
  }
}
