.headerDiv {
	min-height: 64px;
	background-color: #fafafa;
	color: white;
	padding: 1.1rem 6.375rem 1.1rem 7.3rem;
}

.imageWrapper {
	max-width: 150px;
	cursor: pointer;
	width: 5vw;
}

.headerButton {
	color: #000;
	font-size: 20px;
	line-height: 23px;
	cursor: pointer;
}

.headerButton:hover {
	color: #fa541a;
}

.headerButtonHighlighted {
	color: #fff;
	font-size: 20px;
	line-height: 23px;
	cursor: pointer;
	padding: 0.8rem 1rem;
	background: radial-gradient(
		100% 1267.36% at 0% 50%,
		#f42b4d 0%,
		#fa541a 100%
	);
	border-radius: 30px;
}

.linksWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.menuIconWrapper {
	display: flex;
	justify-content: flex-end;
}

@media only screen and (min-width: 850px) and (max-width: 1050px) {
	.headerDiv {
		padding: 1.1rem 1rem;
	}
}

@media screen and (max-width: 849px) {
	.headerDiv {
		padding: 1rem;
	}
	.imageWrapper {
		width: 50px;
	}
	.headerButton {
		color: #000;
		font-size: 16px;
		line-height: 19px;
	}
	.headerButtonHighlighted {
		font-size: 16px;
		line-height: 19px;
		padding: 0.8rem 0.5rem;
	}
}

@media screen and (min-width: 1900px) {
	.headerDiv {
		padding: 1.5rem 25rem;
	}
	.headerButton {
		font-size: 1rem;
	}
}

@media screen and (min-width: 2500px) {
	.headerDiv {
		padding: 1.5rem 25rem;
	}
	.headerButton {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 4000px) {
	.headerDiv {
		padding: 1% 25%;
	}
	.headerButton {
		font-size: 2rem;
	}
}