.headerDiv {
	position: fixed;
	width: 100%;
	max-height: 7.5rem;
	background-color: white;
	color: white;
	padding: 0.5rem 6.375rem 0.5rem 7.3rem;
	z-index: 3;
	/* justify-content: space-between;
	align-items: center; */
	
}

.headerImageWrapper {
	width: 66px;
	height:66px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.headerIconCol{
	padding: 2rem 0rem;
	display: flex;
	justify-content: right;
	align-items: right;
}

.headerIconWrapper{
	margin-right: 2rem;
}
