/* Whole Card Styling starts */

.ChCardContainer {
  background-color: #f6f6f6;
  margin: 1.5rem 0rem;
  border-radius: 10px;
  padding: 1rem 0rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.ChCardContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -5px, 5px);
}

/* Whole Card Styling ends */

.ChCardRow {
  margin: 1rem 0rem;
  padding: 0rem 3rem;
}

/* Top row styling starts */
.ChCardTopContent {
  color: #232526;
  font-size: 25px;
  font-weight: 700;
}

.ChCardMenuCol {
  color: #616161;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.Dropdown {
  width: fit-content;
  background: none;
  border: none;
}

.ChCardDropdownIcon {
  font-size: 40px;
  color: black;
  cursor: pointer;
}

.ChCardMenu {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ChCardMenuIcon {
  margin: 0rem 1rem;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: #616161;
}

.ChCardBadgeButton {
  background: none;
  border: 1px solid #919191;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}

.ChCardBadge {
  font-size: 1.2rem;
  color: #616161;
  margin: 0;
}

/* Top row styling ends */

/* Description on Card Styling starts */
.ChCardDescriptionRow {
  margin: 1.6rem 0rem;
  padding: 0rem 3rem;
}

.ChCardDescription {
  font-size: 16px;
  line-height: 24px;
}
/* Description on Card Styling ends */

/* Middle Row Styling starts */

.ChCardAvatar {
  width: fit-content;
  height: fit-content;
}

.ChCardNameCol {
  padding: 0rem 1.5rem;
  color: #616161;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  justify-content: left;
  align-items: center;
}

.ChCardName {
  color: #313131;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ChCardButtonCol {
  color: #616161;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
/* Middle Row Styling ends */

/* upcoming huddle styling starts */
.ChCardFooterWrapper {
  margin-top: 0.5rem;
  color: #616161;
}

.ChCardDivider {
  border: 1px solid #c2c2c2;
  margin: 0.5rem 0rem;
}

.ChCardFooter {
  padding: 0rem 3rem;
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.ChCardFooterIcon {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 24px;
  height: 24px;
  color: #616161;
}
/* upcoming huddle styling ends */

@media screen and (min-width: 2500px) {
  .ChCardDescription {
    font-size: 26px;
    line-height: 30px;
  }

  .ChCardTopContent {
    font-size: 35px;
  }
  .ChCardFooter {
    font-size: 28px;
  }
  .ChCardNameCol {
    font-size: 30px;
  }
  .ChCardFooterIcon {
    width: 28px;
    height: 28px;
  }
  .ChCardMenuIcon {
    width: 30px;
    height: 30px;
    font-size: 28px;
  }
  /* .SidebarIcon4 {
    width: 28px;
    height: 28px;
    font-size: 28px;
  } */
}

@media screen and (max-width: 1600px) {
  .ChCardDescription {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .ChCardTopContent {
    font-size: 20px;
  }
  .ChCardFooter {
    font-size: 15px;
  }
  .ChCardNameCol {
    font-size: 15px;
  }
  .ChCardFooterIcon {
    width: 15px;
    height: 15px;
  }
  .ChCardMenuIcon {
    width: 18px;
  height: 18px;
    font-size: 16px;
  }
}
