/* Whole Card Styling starts */

.Container {
  background-color: #f6f6f6;
  margin: 1.5rem 0rem;
  border-radius: 10px;
  padding: 1rem 0rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.Container:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -5px, 5px);
}

/* Whole Card Styling ends */

.Row {
  margin: 1rem 0rem;
  padding: 0rem 3rem;
}

.TopContent {
  color: #232526;
  font-size: 25px;
  font-weight: 600;
}

.MenuCol {
  /* background-color: antiquewhite; */
  color: #616161;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.DropdownIcon {
  width: 40px;
  height: 40px;
  color: #616161;
  cursor: pointer;
  /* background-color: rgb(15, 140, 249); */
}

.Menu {
  padding: 1rem 3rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuWrap {
  background: none;
}

.MenuIcon {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #616161;
  /* background-color: aquamarine; */
}

.BadgeButton {
  background: none;
  border: 1px solid #616161;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}

.Badge {
  font-size: 20px;
  color: #616161;
  margin: 0;
}

.PendingWrap {
  display: flex;
  justify-content: left;
  align-items: center;
}

.PendingText {
  font-size: 20px;
  color: #313131;
  text-decoration: underline;
}

.PendingButton {
  display: flex;
  justify-content: right;
  align-items: center;
}
/* Top row styling ends */

/* Description on Card Styling starts */
.DescriptionRow {
  margin: 1.6rem 0rem;
  padding: 0rem 3rem;
}

.Description {
  font-size: 16px;
}
/* Description on Card Styling ends */

/* Middle Row Styling starts */

.Avatar {
  width: fit-content;
  height: fit-content;
}

.NameCol {
  padding: 0rem 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Name {
  font-size: 20px;
  color: #313131;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ButtonCol {
  color: #616161;
  display: flex;
  justify-content: right;
  align-items: center;
}
/* Middle Row Styling ends */

/* upcoming huddle styling starts */
.FooterWrapper {
  margin-top: 0.5rem;
}

.Divider {
  border: 1px solid #c2c2c2;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.Footer {
  padding: 0rem 3rem;
  font-size: 18px;
  width: 100%;
  color: #616161;
  display: flex;
  justify-content: left;
  align-items: center;
}

.FooterIcon {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 24px;
  height: 24px;
  color: #616161;
}
/* upcoming huddle styling ends */

@media screen and (min-width: 2500px) {
  .Description {
    font-size: 26px;
  }

  .TopContent {
    font-size: 35px;
  }
  .Footer {
    font-size: 28px;
  }
  .Name,
  .PendingText,
  .Badge {
    font-size: 30px;
  }
  .FooterIcon {
    width: 28px;
    height: 28px;
  }
  .MenuIcon {
    width: 30px;
    height: 30px;
    font-size: 31px;
  }
  .DropdownIcon {
    width: 50px;
    height: 50px;
  }
  .Menu {
    font-size: 30px;
  }
}

@media screen and (max-width: 1600px) {
  .Description {
    font-size: 15px;
  }

  .TopContent {
    font-size: 20px;
  }
  .Footer {
    font-size: 15px;
  }
  .Name,
  .PendingText,
  .Badge {
    font-size: 15px;
  }
  .FooterIcon {
    width: 15px;
    height: 15px;
  }
  .Menu {
    font-size: 15px;
  }
  .MenuIcon {
    width: 18px;
    height: 18px;
    font-size: 19px;
  }
  .DropdownIcon {
    width: 38px;
    height: 38px;
  }
}
