.ButtonWrapper {
  background-color: none;
  margin-top: 12px;
  border-radius: 20px;
  height: fit-content;
  padding: 2rem 1rem;
}

.ChCardInfoDivider {
  border: 1px solid #c2c2c2;
  margin: 0.5rem 0rem;
}

.MemberInfoWrapper {
  display: block;
  margin: auto 0rem;
  /* background-color: red; */
  margin-top: 12px;
  border-radius: 20px;
  height: fit-content;
  padding: 1rem 2rem;
}

.ChCardInfoIcon {
  width: 26px;
  height: 26px;
  color: black;
  /* background-color: yellowgreen; */
}

.ChCardInfoMembers {
  font-size: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
  /* background-color: green; */
}

.ChCardInfoLink {
  margin-top: 3rem;
  color: #0500ff;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
