.Modal {
  background: #fafafa;
  border-radius: 20px;
}

.Button {
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  border: none;
  padding: 1rem 2rem;
  color: #fafafa;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}

.Icon {
  width: 1.6rem;
  height: 1.6rem;
  /* margin-left: 1rem; */
}

.SendButtonWrapper {
  display: flex;
  justify-content: center;
}

.SendButton {
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  color: #fafafa;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  width: 180px;
  height: 50px;
  border-radius: 200px;
  margin-top: 1rem;
}

@media screen and (min-width: 2500px) {
  .Button {
    font-size: 2rem;
  }
  .Icon {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  .Button {
    font-size: 1.4rem;
  }
  .Icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 1200px) {
  .Button {
    font-size: 1.2rem;
  }
  .Icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
