.SidebarCardStyle {
  position: fixed;
  width: fit-content;
  padding: 2rem 2rem;
  border-radius: 20px;
  background-color: #FAFAFA;
}

.SidebarList {
  list-style: none;
  padding: 0rem 0.5rem;
  font-size: 20px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.SidebarListItem {
  margin-bottom: 0rem;
  cursor: pointer;
  color: #616161;
  /* background-color: red; */
}

.SidebarListItemActive {
  margin-bottom: 0rem;
  cursor: pointer;
  font-weight: 700;
}

.SidebarIcon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  color: #616161;
}

.SidebarIconActive {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.SidebarButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SidebarButton {
  background: #fafafa;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  width: 180px;
  height: 44px;
  border-radius: 200px;
  margin-top: 1rem;
}

@media screen and (min-width: 2500px) {
  .SidebarList {
    font-size: 30px;
  }

  .SidebarIcon {
    width: 30px;
    height: 30px;
  }

  .SidebarIconActive {
    width: 30px;
    height: 30px;
  }
}
