.SidebarCardStyle{
    position: fixed;
    width :fit-content;
    border-radius : 20px;
    background: none;
}

.SidebarList{
    list-style: none;
    padding : 0 1rem;
    margin-right : 1rem;
    font-size: 20px;
}

.SidebarListItem{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    cursor: pointer;
    color: #616161;
    /* background-color: red; */
}

.SidebarListItemActive{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    cursor: pointer;
    font-weight: bolder;
}

.SidebarButtonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.SidebarButton{
    background: #FAFAFA;
    cursor: pointer;
    font-weight: 700;
    font-size : 15px;
    width: 180px;
    height: 44px;
    border-radius: 200px;
    margin-top: 1rem;
}


.SidebarIcon{
    width : 25px;
    height : 25px;
    margin: 0rem 2rem;
    color : #616161;
}

.SidebarIconActive{
    width : 25px;
    height : 25px;
    margin: 0rem 2rem;
}