.ChCardcontainer{
  background-color: #F6F6F6;
  margin-top: 12px;
  border-radius: 20px;
  
  padding: 1rem 3rem;
}

.ChCardrow{
    margin-top:1.6rem;
}

.ChCardTopContent{
    height:33px;
    color:#232526;
    font-size: 25px;
    font-weight:700;
}


/* ChCardcol styling is for heart icon and button*/

.ChCardcol{
    color: #616161;
    display: block;
    font-weight :400;
    font-size: 20px;
    line-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

/* ChCardcol styling is for heart icon */

.ChCardcol2{
    /* background-color: rgb(158, 51, 51); */
    color: #616161;
    display: flex;
    flex-direction:row-reverse;
    margin-top: auto;
    margin-bottom: auto;
    
}

.ChCardcol2 span{
    margin-right: 1rem;
}

.ChCardText{
   margin-left : 3rem;
   margin-right : 3rem
}

.ChCardBadge{
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  padding: 5px 10px;
  border-radius: 2px;
  border-width: 2px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.ChCardBadgeText{
    color : #FAFAFA
} 

.ChCardDescription{
    font-size: 1.6rem;
    line-height : 24px;
}

.ChCardAvatar{
    width:65px;
    height:65px;
}


.ChCardisJoinedbutton{
    background : none;
    font-size : 18px;
    padding: 0rem 2rem;
    width: fit-content;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;
}
/* 
.ChCardisJoinedbutton:hover{
    border: 2px solid orangered;
    color: orangered;
} */

.ChCardisNotJoinedbutton{
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    color : #FAFAFA;
    font-weight: 700;
    font-size : 18px;
    padding: 0rem 2rem;
    width: fit-content;
    height: 44px;
    border-radius: 200px;
    cursor: pointer;
}

/* .ChCardisNotJoinedbutton:hover{
    background: #FAFAFA;
    color : #232526;
    font-weight: 700;
    border : 3px solid #232526;
    font-size : 18px;
    padding: 0rem 2rem;
    width: fit-content;
    height: 44px;
    border-radius: 200px;
} */
/* 
.AvatarGroup{
  flex-direction: row;
  align-items: center;
}
 */
