.MrContainer {
  border-radius: 20px;
  margin-bottom: 16px;
}

.MrTitle {
  font-size: 22px;
  font-weight: 700;
}

.MrSubTitle {
  font-size: 18px;
  font-weight: 400;
}

.MrIcon {
  font-size: 30px;
}

@media screen and (min-width: 2500px) {
  .MrTitle {
    font-size: 30px;
    font-weight: 700;
  }

  .MrSubTitle {
    font-size: 26px;
    font-weight: 400;
  }
}
