.Container {
  padding: 2rem 2rem;
  background-color: #fafafa;
  border-radius: 20px;
  width: 100%;
}

.Title {
  font-size: 2rem;
  font-weight: 700;
}

.SubTitle {
  font-size: 1.8rem;
  font-weight: 400;
}

.Icon {
  font-size: 30px;
}

@media screen and (min-width: 2500px) {
  .Title {
    font-size: 2.4rem;
  }

  .SubTitle {
    font-size: 2.2rem;
  }
  .Icon {
    font-size: 35px;
  }
}

@media screen and (max-width: 1600px) {
  .Title {
    font-size: 1.8rem;
  }

  .SubTitle {
    font-size: 1.6rem;
  }

  .Icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .Title {
    font-size: 1.6rem;
  }

  .SubTitle {
    font-size: 1.4rem;
  }

  .Icon {
    font-size: 20px;
  }
}

