.Container {
  width: 100%;
  margin-bottom: 3rem;
  background-color: #fafafa;
  border-radius: 20px;
}

.Background {
  border-radius: 20px;
  position: relative;
}

.LabelDiv {
  position: absolute;
  z-index: 1;
  padding: 1rem 3rem;
  display: flex;
}

.Label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  border: 0px;
}

.LabelIcon {
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
}

.CoverImage {
  transform: translateY(-3%);
}

.DateWrapper {
  display: flex;
  height: 45px;
  margin-bottom: 1rem;
}

.DateCard {
  background-color: #fafafa;
  padding: 1rem 2rem;
  margin-left: 3rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: translateY(-50%);
}

.Date {
  font-size: 22px;
  font-weight: 700;
  color: #f42b4d;
}

.Time {
  font-size: 16px;
  color: #f42b4d;
}

.NameRow {
  padding: 0rem 3rem;
}

.Name {
  font-size: 18px;
  font-weight: 700;
  color: #313131;
}

.Body {
  padding: 1rem 2rem;
  padding-bottom: 3rem;
}

.Heading {
  font-weight: 700;
  margin: 1rem 0rem;
  font-size: 16px;
}

.Description {
  font-size: 16px;
  margin: 1rem 0rem;
}

.bookedLabelCol {
  display: flex;
  justify-content: right;
  align-items: center;
}

.bookedLabelText {
  padding: 0rem 1rem;
  margin-left: 1rem;
  background-color: yellowgreen;
  border: 2px solid yellowgreen;
  color: #fafafa;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transform: translateY(-50%);
}

@media screen and (min-width: 2500px) {
  .DateWrapper {
    margin-bottom: 2rem;
  }

  .Label {
    font-size: 24px;
  }

  .LabelIcon {
    width: 24px;
    height: 24px;
  }

  .Date {
    font-size: 32px;
  }

  .Time {
    font-size: 26px;
  }
  .Name {
    font-size: 28px;
  }

  .bookedLabelText {
    font-size: 26px;
  }
  .Heading {
    font-size: 26px;
  }

  .Description {
    font-size: 26px;
  }
}

@media screen and (max-width: 1600px) {
  .Label {
    font-size: 12px;
  }

  .LabelIcon {
    width: 12px;
    height: 12px;
  }

  .Date {
    font-size: 16px;
  }

  .Time {
    font-size: 13px;
  }
  .Name {
    font-size: 14px;
  }

  .bookedLabelText {
    font-size: 13px;
  }
  .Heading {
    font-size: 13px;
  }

  .Description {
    font-size: 13px;
  }
}
