.headerDiv {
  /* position: fixed; */
  /* width: 100%; */
  height: fit-content;
  background-color: white;
  padding: 0.5rem 12rem 0rem 12rem;
  z-index: 2;
  /* justify-content: space-between;
	align-items: center; */
}

.headerWrapper{
  position: relative;
  width: 100%;
}

.subHeader {
  width: 100%;
  z-index: 2;
}

.profileAvatar{
  width: 100px;
  height: 100px;
}

.headerCol{
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerImageWrapper {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.headerIconCol {
  padding: 2rem 0rem;
  display: flex;
  justify-content: right;
  align-items: right;
}

.headerIconWrapper {
  margin-right: 4rem;
  cursor: pointer;
}

.headerAvatar {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 2500px) {
  .headerAvatar {
    height: 60px;
    width: 60px;
  }
  .headerImageWrapper {
    width: 120px;
    height: 120px;
    background-color: rgb(17, 0, 255);
  }
}
