.ButtonWrapper{
    padding: 2rem 3rem;
    flex-grow : 1;
    border-bottom: 3px solid #c2c2c2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.BookedCol{
  padding: 0rem 1rem;
}

.BookButton {
  background: none;
  width: 100%;
  font-size: 18px;
  padding: 1rem 1rem;
  border: 2px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.BookButtonDark {
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  color: #FAFAFA;
  width: 100%;
  font-size: 18px;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookIcon {
  width: 18px;
  height: 18px;
  margin: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtubeIcon {
  width: 18px;
  height: 18px;
  margin: 0rem 1rem;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 2500px) {
  .BookButton , .BookButtonDark {
    font-size: 26px;
  }
  
  .BookIcon , .youtubeIcon{
    width: 26px;
    height: 26px;
  }
}
