.searchTagsBody {
  width: 100%;
}

.searchTagsButton {
  background: none;
  border: 1px solid #616161;
  /* color : #FAFAFA; */
  color: #313131;
  padding: 0rem 1rem;
  height: 40px;
  width: fit-content;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.searchTagsButton2 {
  background: none;
  border: 3px solid #313131;
  /* color : #FAFAFA; */
  color: #313131;
  font-weight: 600;
  /* color: #313131; */
  padding: 0rem 2rem;
  height: 40px;
  width: fit-content;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.searchTagsLinkWrapper {
  display: flex;
  justify-content: center;
}

.searchTagsLink {
  color: #0500ff;
  text-decoration: underline;
}
