.BackTop {
  height: 50px;
  width: 50px;
  margin-bottom: 2rem;
  border: 2px solid #414345;
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  font-size: 26px;
  color: #fafafa;
}

@media screen and (min-width: 2500px) {
  .BackTop {
    height: 75px;
    width: 75px;
    margin-bottom: 4rem;
  }

  .Icon {
    font-size: 36px;
  }
}

@media screen and (max-width: 1600px) {
  .BackTop {
    height: 40px;
    width: 40px;
  }

  .Icon {
    font-size: 18px;
  }
}