.SubheaderWrapper {
  width: 100%;
  /* padding: 0rem 40rem; */
  height: fit-content;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SubheaderListItem {
  width: fit-content;
  padding: 0rem 1rem;
  height: 6rem;
  font-size: 18px;
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.SubheaderListItem:hover {
  border-bottom-color: #ff4500;
  background-color: white;
  /* background-color: red; */
}

.SubheaderListItemActive {
  width: fit-content;
  padding: 0rem 1rem;
  height: 6rem;
  font-size: 18px;
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-bottom: 3px solid #ff4500;
  /* background-color: red; */
}

.SubheaderListItemActive:hover {
  border-bottom-color: #ff4500;
  background-color: white;
}

.SubheaderImg {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 2500px) {
  .SubheaderImg {
    width: 26px;
    height: 26px;
  }
  .SubheaderListItemActive {
    font-size: 26px;
  }
  .SubheaderListItem {
    font-size: 26px;
  }
}
/*
@media screen and (max-width:1920px) {
  .SubheaderListWrapper {
  width: 100%;
  padding: 0rem 40rem;
  height: 6rem;
  background-color: white;
 
}

.SubheaderListWrapper2 {
  width: 100%;
  padding: 0rem 30rem;
  height: 6rem;
  background-color: white;
 
}
  
}


*/
