.TriggerButton {
  background: none;
  border: none;
  font-size: 1.6rem;
  width: 100%;
  cursor: pointer;
}

.Modal {
  height: fit-content;
  background: #fafafa;
  border-radius: 10px;
  overflow: hidden !important;
}

.Wrapper {
  padding: 4rem 2rem;
}

.DetailRow {
  margin: 1rem 0rem;
  margin-left: 2rem;
  width: 100%;
}

.PromptsRow {
  width: 100%;
}

.Title {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.Description {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.ButtonWrapper {
  display: flex;
  justify-content: right;
}

.Button {
  /* background: linear-gradient(90deg, #232526 0%, #414345 100%); */
  background: none;
  border: 1px solid #919191;
  color: #919191;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 4rem;
  border-radius: 200px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.GradientButton {
  background: radial-gradient(
    100% 1267.36% at 0% 50%,
    #f42b4d 0%,
    #fa541a 100%
  );
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 4rem;
  border-radius: 200px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.GradientButtonBlur {
  background: radial-gradient(
    100% 1267.36% at 0% 50%,
    #f42b4d 0%,
    #fa541a 100%
  );
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 4rem;
  border-radius: 200px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.removeButton {
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 4rem;
  border-radius: 200px;
  margin-top: 2rem;
  margin-left: 1rem;
}

@media screen and (min-width: 2500px) {
  .TriggerButton {
    font-size: 2rem;
  }
  .Title {
    font-size: 2.6rem;
  }

  .Description {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1600px) {
  .TriggerButton {
    font-size: 1.4rem;
  }
  .Title {
    font-size: 2rem;
  }

  .Description {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1280px) {
  .TriggerButton {
    font-size: 1.2rem;
  }
  .Title {
    font-size: 1.8rem;
  }

  .Description {
    font-size: 1rem;
  }
}
