.Container {
  margin: 1rem 0rem;
  padding: 2rem 2rem;
  background-color: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.AvatarCol {
  margin-right: 1rem;
}

.Avatar {
  height: fit-content;
  width: fit-content;
}

.MiddleCol {
  padding: 0rem 1rem;
}

.Name {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.Description {
  font-size: 18px;
  color: #616161;
  font-weight: 400;
}

.FeeCol {
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.FeeButton {
  background: none;
  border: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.MiddleRow {
  margin: 2rem 0rem;
  border-radius: 50px;
  border: 1px solid #616161;
}

.TextCol {
  padding: 1rem 3rem;
  border-right: 1px solid #616161;
}

.TextCol2 {
  padding: 1rem 3rem;
}

.Heading {
  font-size: 16px;
}
.SubHeading {
  font-size: 18px;
  font-weight: 600;
}

.ButtonCol {
  display: flex;
  justify-content: left;
}

.ButtonCol2 {
  display: flex;
  justify-content: right;
}

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 30px;
    font-weight: 700;
  }

  .Description {
    font-size: 26px;
    font-weight: 400;
  }

  .Heading {
    font-size: 26px;
  }
  .SubHeading {
    font-size: 28px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1520px) {
  .Name {
    font-size: 15px;
    font-weight: 700;
  }

  .Description {
    font-size: 13px;
    font-weight: 400;
  }

  .Heading {
    font-size: 13px;
  }
  .SubHeading {
    font-size: 14px;
    font-weight: 600;
  }

  .TextCol2 {
    padding: 1rem 2rem;
  }

  .TextCol {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .Name {
    font-size: 12px;
    font-weight: 700;
  }

  .Description {
    font-size: 10px;
    font-weight: 400;
  }

  .Heading {
    font-size: 9px;
  }
  .SubHeading {
    font-size: 10px;
    font-weight: 600;
  }
  .TextCol2 {
    padding: 1rem 1rem;
  }

  .TextCol {
    padding: 1rem 1rem;
    border-right: 1px solid #616161;
  }
}
