.Container {
  margin: 1rem 0rem;
  padding: 2rem 2rem;
  background-color: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.Avatar {
  height: 10rem;
  width: 10rem;
}

.DetailColumn {
  display: flex;
  justify-content: left;
  align-items: center;
}

.NameWrapper {
  padding: 0rem 2rem;
}

.Name {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.Description {
  font-size: 1.8rem;
  color: #616161;
  font-weight: 400;
}

.FeeColumn {
  display: flex;
  justify-content: right;
  align-items: center;
}

.FeeButton {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.Row {
  margin: 2rem 0rem;
  border-radius: 50px;
  border: 1px solid #616161;
}

.Column {
  padding: 1rem 2rem;
  border-right: 1px solid #616161;
}

.Column2 {
  padding: 1rem 2rem;
}

.Heading {
  font-size: 1.6rem;
}

.SubHeading {
  font-size: 1.8rem;
  font-weight: 600;
}

.ButtonColumn {
  display: flex;
  justify-content: center;
}

/* .ButtonColumn2 {
  display: flex;
  justify-content: center;
} */

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 2.4rem;
  }

  .Description {
    font-size: 2.2rem;
  }

  .Heading {
    font-size: 2rem;
  }
  .SubHeading {
    font-size: 2.2rem;
  }

  .FeeButton {
    font-size: 2.4rem;
  }
  .Avatar {
    height: 11rem;
    width: 11rem;
  }
}

@media screen and (max-width: 1600px) {
  .Name {
    font-size: 1.8rem;
  }

  .Description {
    font-size: 1.6rem;
  }

  .Heading {
    font-size: 1.4rem;
  }
  .SubHeading {
    font-size: 1.6rem;
  }

  .FeeButton {
    font-size: 1.8rem;
  }
  .Avatar {
    height: 9rem;
    width: 9rem;
  }
}

@media screen and (max-width: 1280px) {
  .Name {
    font-size: 1.6rem;
  }

  .Description {
    font-size: 1.4rem;
  }

  .Heading {
    font-size: 1.2rem;
  }
  .SubHeading {
    font-size: 1.4rem;
  }
  .FeeButton {
    font-size: 1.6rem;
  }
  .Avatar {
    height: 8rem;
    width: 8rem;
  }
}
