.Container {
  width: 100%;
  height: fit-content;
  margin-bottom: 3rem;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

/* .Container:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -5px, 5px);
} */

.Background {
  border-radius: 20px;
  position: relative;
}

.DateRow {
  height: 35px;
  margin-bottom: 1rem;
}

.LabelWrapper {
  position: absolute;
  z-index: 1;
  padding: 1rem 3rem;
  display: flex;
}

.Label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  border: 0px;
}

.LabelIcon {
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
}

.Image {
  transform: translateY(-3%);
}

.NameColumn {
  padding-left: 3rem;
}

.DetailColumn {
  display: flex;
  justify-content: right;
}

.Name {
  font-size: 2rem;
  font-weight: 600;
  color: #313131;
}

.DateWrapper {
  background-color: #fafafa;
  padding: 1rem 2rem;
  margin-left: 3rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: translateY(-50%);
}

.Date {
  font-size: 2rem;
  font-weight: 700;
  color: #FA541A;
}

.Time {
  font-size: 1.6rem;
  color: #FA541A;
}

.Link {
  font-weight: 500;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  text-decoration: none;
  /* color: #313131; */
  background: radial-gradient(100% 1267.36% at 0% 50%, #F42B4D 0%, #FA541A 100%);
  color: #fafafa;
}

.LabelColumn {
  display: flex;
  justify-content: right;
  align-items: center;
}

.LabelText {
  padding: 0rem 1rem;
  margin-left: 1rem;
  background-color: yellowgreen;
  border: 2px solid yellowgreen;
  color: #fafafa;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  transform: translateY(-50%);
}

@media screen and (min-width: 2500px) {
  .DateRow {
    margin-bottom: 2rem;
  }
  .Date {
    font-size: 2.4rem;
  }
  .NameRow {
    padding-top: 1rem;
  }
  .Name {
    font-size: 2.4rem;
  }
  .Time {
    font-size: 2rem;
  }
  .Label {
    font-size: 2rem;
  }
  .LabelIcon {
    width: 2rem;
    height: 2rem;
  }
  .Link {
    font-size: 2rem;
  }
  .LabelText {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .NameRow {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 1600px) {
  .Date {
    font-size: 1.8rem;
  }
  .Name {
    font-size: 1.8rem;
  }
  .Time {
    font-size: 1.4rem;
  }
  .Label {
    font-size: 1.4rem;
  }
  .LabelIcon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .Link {
    font-size: 1.4rem;
  }
  .LabelText {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1280px) {
  .Date {
    font-size: 1.6rem;
  }
  .Name {
    font-size: 1.6rem;
  }
  .Time {
    font-size: 1.2rem;
  }
  .Label {
    font-size: 1.2rem;
  }
  .LabelIcon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .Link {
    font-size: 1.2rem;
  }
  .LabelText {
    font-size: 1.2rem;
  }
}
