.Card {
  background-color: #fafafa;
  margin: 1.5rem 0rem;
  border-radius: 10px;
  padding: 1rem 0rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}

.MainColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
}

.DetailRow {
  margin: 1rem 0rem;
  margin-left: 2rem;
  /* width: 100%; */
}

.ModalRow {
  margin: 1rem 0rem;
  margin-left: 2rem;
  width: 100%;
}

.ModalRow2 {
  margin: 1rem 0rem;
  margin-left: 2rem;
}

.PromptsRow {
  width: 100%;
}

.Name {
  font-size: 1.8rem;
  color: #313131;
  font-weight: 700;
}

.DetailButton {
  background: none;
  border: 1px solid #616161;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  margin: 0.5rem 0rem;
  margin-right: 1rem;
  cursor: pointer;
}

.TagButton, .TagButtonActive {
  background: none;
  border: 1px solid #616161;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  margin: 1rem 0.75rem;
  margin-right: 1rem;
  cursor: pointer;
}

.TagButtonActive {
  color: orangered;
  border: 1px solid orangered;
}

.EditIcon {
  margin-top: 1rem;
  cursor: pointer;
}
