.Container {
  background-color: #fafafa;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 0rem;
  margin: 1rem 0rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}

.DetailColumn {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Row {
  margin: 1rem 2rem;
}

.CtaRow {
  border-top: 1px solid #c2c2c2;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
}

.CtaColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0rem;
  font-size: 1.8rem;
}

.DropdownColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.CtaColumn:hover {
  background-color: #ececec;
}

.CtaIcon,
.CtaIconDark {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.CtaIconDark {
  color: rgb(252, 75, 75);
}

.Avatar {
  height: 10rem;
  width: 10rem;
}

.CommentAvatar {
  height: 6rem;
  width: 6rem;
}

.TextAreaRow {
  /* background-color: #313131; */
  border-top: 1px solid #c2c2c2;
  padding: 1rem 2rem;
}

.TextAreaColumn {
  /* background-color: #313131; */
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0rem 1rem;
}

.TextArea {
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
}

.DetailWrapper {
  margin: 0rem 1.5rem;
}

.Name {
  font-size: 1.8rem;
  font-weight: 700;
}

.Description {
  font-size: 1.4rem;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.ButtonColumn {
  display: flex;
  justify-content: right;
  align-items: center;
}

.Likes {
  font-size: 1.8rem;
  color: #616161;
  text-decoration: underline;
  cursor: pointer;
}

.Comments {
  font-size: 1.8rem;
  color: #616161;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  justify-content: right;
}

.ReadMore {
  color: #313131;
  font-weight: 600;
  cursor: pointer;
}

.MenuColumn {
  /* background-color: antiquewhite; */
  color: #616161;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.Menu {
  padding: 0%;
  border-radius: 10px;
}

.MenuItem {
  padding: 1.5rem 4rem;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.MenuIcon {
  margin-right: 1rem;
  width: 18px;
  height: 18px;
  color: #616161;
  /* background-color: aquamarine; */
}

.DropdownIcon {
  width: 4rem;
  height: 4rem;
  color: #616161;
  cursor: pointer;
  /* background-color: rgb(15, 140, 249); */
}

@media screen and (min-width: 2500px) {
  .Name,.Likes,.Comments,.CtaColumn  {
    font-size: 2.2rem;
  }

  .Description {
    font-size: 1.8rem;
  }
  .MenuIcon {
    width: 28px;
    height: 28px;
  }
  .CtaIcon,
  .CtaIconDark {
    width: 35px;
    height: 35px;
  }
  .DropdownIcon {
    width: 5rem;
    height: 5rem;
  }
  .MenuItem {
    font-size: 28px;
  }
  .Avatar {
    height: 11rem;
    width: 11rem;
  }
  .CommentAvatar {
    height: 7rem;
    width: 7rem;
  }
}

@media screen and (max-width: 1600px) {
  .Name,.Likes,.Comments,.CtaColumn  {
    font-size: 1.6rem;
  }

  .Description {
    font-size: 1.2rem;
  }
  .MenuItem {
    font-size: 14px;
  }
  .MenuIcon {
    width: 14px;
    height: 14px;
  }
  .CtaIcon,
  .CtaIconDark {
    width: 20px;
    height: 20px;
  }
  .DropdownIcon {
    width: 3rem;
    height: 3rem;
  }
  .Avatar {
    height: 9rem;
    width: 9rem;
  }
  .CommentAvatar {
    height: 5rem;
    width: 5rem;
  }
}

@media screen and (max-width: 1280px) {
  .Name,.Likes,.Comments,.CtaColumn  {
    font-size: 1.4rem;
  }

  .Description{
    font-size: 1rem;
  }

  .MenuItem {
    font-size: 14px;
  }

  .MenuIcon {
    width: 14px;
    height: 14px;
  }
  .CtaIcon,
  .CtaIconDark {
    width: 20px;
    height: 20px;
  }

  .Avatar {
    height: 8rem;
    width: 8rem;
  }
  .CommentAvatar {
    height: 4rem;
    width: 4rem;
  }
}
