.Card {
  background-color: #fafafa;
  margin: 1.5rem 0rem;
  border-radius: 10px;
  padding: 1rem 0rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}

.profileAvatar {
  width: 200px;
  height: 200px;
  border: 3px solid #f42b4d;
  border-radius: 40px;
}

.MainColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
}

.MainColumn2 {
  padding: 1rem 3rem;
}

.Wrapper {
  width: 100%;
}

.DetailRow {
  margin: 1rem 0rem;
  margin-left: 2rem;
  width: 100%;
}

.PromptsRow {
  width: 100%;
}

.ChRow {
  width: 100%;
  padding: 1rem 0rem;
  border-bottom: 1px solid #313131;
}

.Name {
  font-size: 1.8rem;
  color: #313131;
  font-weight: 700;
  
}

.Description {
  font-size: 1.6rem;
  color: #616161;
  
}

.SubDescription {
  font-size: 1.4rem;
  color: #616161;
  margin-right: 2rem;
  /* display: flex;
  justify-content: left;
  align-items: center; */
  
}

.ProfileIcon {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.5rem;
}

.EditIcon {
  margin-top: 1rem;
  cursor: pointer;
}

#TextArea {
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid #919191;
  box-shadow: none;
}

.EditPromptText {
  display: flex;
  justify-content: space-between;
}

