.Container {
  width: 100%;
  height: fit-content;
  margin-bottom: 3rem;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.Background {
  height: fit-content;
}

.CoverImage {
  transform: translateY(-3%);
}


