.Container {
  position: sticky;
  top: 8rem;
  height: min-content;
  padding: 2rem 1rem;
  margin: 6rem 0rem;
  border-radius: 2rem;
  background-color: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}

.List {
  margin: 0%;
  list-style: none;
  padding: 0rem 0.5rem;
  font-size: 1.8rem;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.ListItem {
  padding: 0rem 1rem;
  margin: 0.5rem 0rem;
  width: 100%;
  cursor: pointer;
  color: #616161;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: red; */
}

.ListItemActive {
  padding: 0rem 1rem;
  margin: 0.5rem 0rem;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: red; */
}

.Icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
  /* background-color: rgb(43, 242, 159); */
}

.IconActive {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

@media screen and (min-width: 2500px) {
  .List {
    font-size: 2.2rem;
  }

  .Icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .IconActive {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media screen and (max-width: 1600px) {
  .List {
    font-size: 1.6rem;
  }

  .Icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .IconActive {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media screen and (max-width: 1280px) {
  .List {
    font-size: 1.4rem;
  }

  .Icon {
    width: 1.4rem;
    height: 1.4rem;
  }

  .IconActive {
    width: 1.4rem;
    height: 1.4rem;
  }
}
