.BackTop {
  height: 50px;
  width: 50px;
  border: 2px solid #414345;
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  font-size: 25px;
  color: #FAFAFA;
}
