.Container {
  margin: 1rem 0rem;
  padding: 2rem 2rem;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.Container:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -5px, 5px);
}

.Avatar {
  height: 10rem;
  width: 10rem;
}

.MiddleColumn {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Row {
  margin: 0rem 2rem;
}

.Name {
  font-size: 2rem;
  font-weight: 700;
}

.Description {
  font-size: 1.8rem;
}

/* Coach Card Icon Row starts */

.IconRow {
  margin: 0rem 2rem;
}

.Button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.6rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  color: #616161;
}

/* Coach Card Icon Row ends */

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 2.4rem;
  }

  .Description {
    font-size: 2.2rem;
  }

  .Icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .Button {
    font-size: 2rem;
  }
  .Avatar {
    height: 11rem;
    width: 11rem;
  }
}

@media screen and (max-width: 1600px) {
  .Name {
    font-size: 1.8rem;
  }

  .Description {
    font-size: 1.6rem;
  }

  .Icon {
    width: 1.4rem;
    height: 1.4rem;
  }

  .Button {
    font-size: 1.4rem;
  }
  .Avatar {
    height: 9rem;
    width: 9rem;
  }
}

@media screen and (max-width: 1280px) {
  .Name {
    font-size: 1.6rem;
  }

  .Description {
    font-size: 1.4rem;
  }

  .Icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .Button {
    font-size: 1.2rem;
  }
  .Avatar {
    height: 8rem;
    width: 8rem;
  }
}
