.Container {
  margin: 1rem 0rem;
  padding: 2rem 2rem;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.Container:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -5px, 5px);
}

.AvatarCol {
  margin-right: 1rem;
}

.Avatar {
  height: fit-content;
  width: fit-content;
}

.MiddleCol {
  padding: 0.5rem 2rem;
}

.Row {
  margin-bottom: 0.5rem;
}

.Name {
  font-size: 24px;
  font-weight: bold;
}

.Description {
  font-size: 20px;
  font-weight: lighter;
}

/* Coach Card Icon Row starts */

.IconRow {
  margin-top: 1.5rem;
}

.Button {
  background: none;
  border: none;
  padding: 0;
  font-size: 20px;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  color: #616161;
}

/* Coach Card Icon Row ends */

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 30px;
  }

  .Description {
    font-size: 26px;
  }

  .Icon {
    width: 28px;
    height: 28px;
    margin-right: 1rem;
  }

  .Button {
    font-size: 28px;
  }
}

@media screen and (max-width:1600px) {
  .Name {
    font-size: 15px;
  }

  .Description {
    font-size: 13px;
  }

  .Icon {
    width: 14px;
    height: 14px;
  }

  .Button {
    font-size: 14px;
  }
}
