.ButtonLight {
  background: none;
  font-size: 18px;
  width: fit-content;
  padding: 1rem 1rem;
  border-radius: 12px;
  margin-right: 2rem;
  cursor: pointer;
}

.ButtonLight2 {
  background: none;
  font-size: 18px;
  width: fit-content;
  padding: 1rem 5rem;
  border-radius: 12px;
  margin-right: 2rem;
  cursor: pointer;
}

.ButtonDark {
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  color: #fafafa;
  font-weight: 700;
  font-size: 18px;
  width: fit-content;
  padding: 1rem 1rem;
  border-radius: 200px;
  cursor: pointer;
}

.ButtonWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.BookButton {
  background: none;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 0rem;
  border: 2px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookInfoButton {
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  color: #fafafa;
  width: 100%;
  font-size: 2rem;
  padding: 2rem 0rem;
  border: 2px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonIcon {
  width: 20px;
  height: 20px;
  margin: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonInfoIcon {
  width: 24px;
  height: 24px;
  margin: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LabelButtonWrapper {
  position: absolute;
  margin: 2rem 0rem;;
  padding: 0rem 3rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.LabelButton {
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  height: fit-content;
  background: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  border: 0px;
}


.LabelButtonIcon {
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
}

@media screen and (min-width:2500px) {
  .LabelButton {
  font-size: 1.6rem;
}


.LabelButtonIcon {
  width: 16px;
  height: 16px;
}
}