.TriggerButton {
  background: none;
  border-width: 2px;
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 200px;
  margin-right: 2rem;
  cursor: pointer;
}

.Modal {
  height: fit-content;
  background: #fafafa;
  border-radius: 10px;
}

.Title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.Description {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.Button {
  display: flex;
  justify-content: center;
}

.BackButton {
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  color: #fafafa;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  padding: 0.5rem 0rem;
  border-radius: 200px;
  margin-top: 1rem;
}

@media screen and (min-width: 2500px) {
  .TriggerButton {
    font-size: 2rem;
  }
  .Title {
    font-size: 2.2rem;
  }

  .Description {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1600px) {
  .TriggerButton {
    font-size: 1.4rem;
  }
  .Title {
    font-size: 1.6rem;
  }

  .Description {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1280px) {
  .TriggerButton {
    font-size: 1.2rem;
  }
  .Title {
    font-size: 1.4rem;
  }

  .Description {
    font-size: 1rem;
  }
}
