.Container {
  background-color: #fafafa;
  width: 100%;
  border: none;
}

.DetailColumn {
  padding: 0rem 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.TextWrapper {
  padding: 1rem 0rem;
}

.SubText {
  font-size: 12px;
  margin: 0.5rem 0rem;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Row {
  background-color: #f2f2f2;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 1rem 1rem;
  border: 1px solid #313131;
}

.Avatar {
  height: 6rem;
  width: 6rem;
}

.DetailWrapper {
  padding: 0rem 1rem;
}
.Name {
  font-size: 1.6rem;
  font-weight: 700;
}

.Description {
  font-size: 1.2rem;
}

.SubText {
  font-size: 12px;
  margin: 0.5rem 0rem;
  cursor: pointer;
}

.CtaColumn {
  display: flex;
  justify-content: right;
}

.CtaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .CtaCol {
  display: flex;
  flex-direction: column;
  justify-content: right;
} */

.DropdownWrapper {
  color: #616161;
  display: flex;
  justify-content: right;
}

.DropdownIcon {
  width: 40px;
  height: 40px;
  color: #616161;
  cursor: pointer;
  /* background-color: rgb(15, 140, 249); */
}

.MenuItem {
  padding: 1.5rem 4rem;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Menu {
  padding: 0%;
  border-radius: 10px;
}

.MenuIcon {
  margin-right: 1rem;
  width: 18px;
  height: 18px;
  color: #616161;
  /* background-color: aquamarine; */
}

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 2rem;
  }

  .Description,
  .SubText {
    font-size: 1.6rem;
  }

  .MenuIcon {
    width: 28px;
    height: 28px;
  }

  .DropdownIcon {
    width: 50px;
    height: 50px;
  }

  .MenuItem {
    font-size: 28px;
  }

  .Avatar {
    height: 7rem;
    width: 7rem;
  }
}

@media screen and (max-width: 1600px) {
  .DetailColumn {
    padding: 0rem 2rem;
  }

  .Name {
    font-size: 1.4rem;
  }

  .Description,
  .SubText {
    font-size: 1rem;
  }
  .MenuItem {
    font-size: 14px;
  }
  .MenuIcon {
    width: 14px;
    height: 14px;
  }
  .DropdownIcon {
    width: 35px;
    height: 35px;
  }
  .Avatar {
    height: 5rem;
    width: 5rem;
  }
}

@media screen and (max-width: 1280px) {
  .Name {
    font-size: 1.2rem;
  }

  .Description,
  .SubText {
    font-size: 0.8rem;
  }
  .MenuItem {
    font-size: 14px;
  }
  .MenuIcon {
    width: 14px;
    height: 14px;
  }
  .DropdownIcon {
    width: 35px;
    height: 35px;
  }
  .Avatar {
    height: 4rem;
    width: 4rem;
  }
}
