.container{
  background-color: #F6F6F6;
  margin-top: 12px;
  border-radius: 20px;
  height: fit-content;
  padding: 3rem 3rem;
}

.container2{
  background-color: #FAFAFA;
  margin-top: 6px;
  border-radius: 10px;
  height: fit-content;
  padding: 2rem 1rem;
}

.col3{
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
}

.Avatar{
    width:65px;
    height:65px;
}