.ButtonWrapper {
  background-color: none;
  margin-top: 12px;
  border-radius: 20px;
  height: fit-content;
  padding: 2rem 1rem;
}

.Divider {
  border: 1px solid #c2c2c2;
  margin: 0.5rem 0rem;
}

.MemberWrapper {
  display: block;
  margin: auto 0rem;
  /* background-color: red; */
  margin-top: 12px;
  border-radius: 20px;
  height: fit-content;
  padding: 1rem 2rem;
}

.MemberIcon {
  width: 26px;
  height: 26px;
  color: black;
  /* background-color: yellowgreen; */
}

.Members {
  font-size: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
  /* background-color: green; */
}

.Link {
  margin-top: 3rem;
  color: #0500ff;
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 2500px) {
  .MemberIcon {
    width: 36px;
    height: 36px;
  }

  .Members {
    font-size: 30px;
  }

  .Link {
    font-size: 30px;
  }
}

@media screen and (max-width: 1600px) {
  .MemberIcon {
    width: 18px;
    height: 18px;
  }

  .Members {
    font-size: 15px;
  }

  .Link {
    font-size: 15px;
  }
}
