.Button {
  cursor: pointer;
  font-size: 16px;
}

.ButtonWrap {
  cursor: pointer;
  background: none;
  padding: 1rem 3rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Row {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SubRow {
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DetailRow {
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.Name {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #333333;
  cursor: pointer;
}

.Link {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-decoration: underline;
  color: #0500ff;
  cursor: pointer;
}

.Text {
  margin: 0.5rem 0rem;
  border-bottom: 2px solid #c2c2c2;
  cursor: pointer;
  font-size: 20px;
  color: #333333;
}

.IconText {
  font-size: 26px;
  color: #333333;
}

.IconStyle {
  height: 26px;
  width: 26px;
  margin-right: 1rem;
}

@media screen and (min-width: 2500px) {
  .Avatar {
    width: 140px;
    height: 140px;
  }

  .Name {
    font-size: 35px;
    line-height: 45px;
  }

  .Text {
    font-size: 30px;
  }

  .Link {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
  }

  .Button {
    font-size: 26px;
  }

  .IconText {
    font-size: 30px;
    color: #333333;
  }

  .IconStyle {
    height: 30px;
    width: 30px;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1600px) {
  .Avatar {
    width: 75px;
    height: 75px;
  }

  .Name {
    font-size: 18px;
    line-height: 28px;
  }

  .Text {
    font-size: 15px;
  }

  .Link {
    font-size: 12px;
  }

  .Button {
    font-size: 14px;
  }
  .IconText {
    font-size: 15px;
    color: #333333;
  }

  .IconStyle {
    height: 15px;
    width: 15px;
    margin-right: 1rem;
  }
}
