.MenuItem {
  padding: 2rem 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: left;
  align-items: center;
}

.MenuText {
  font-size: 1.6rem;
}

.MenuSubText {
  font-size: 1.2rem;
}

.Menu {
  padding: 1rem 1rem;
  border-radius: 20px;
  border: 1px solid #616161;
  overflow-y: scroll;
  max-height: 500px;
}

.HeaderRow {
  height: fit-content;
  background-color: #fafafa;
  padding: 0.5rem 12rem 0.5rem 12rem;
  /* border-bottom: 3px solid #fa541a; */
}

.Sticky {
  z-index: 3;
}

.HeaderWrapper {
  width: 100%;
}

.AvatarColumn {
  padding: 0rem 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileAvatar {
  width: 50px;
  height: 50px;
}

.LogoColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LogoImage {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.IconColumn {
  padding: 2rem 0rem;
  display: flex;
  justify-content: right;
  align-items: right;
}

.Badge {
  margin-right: 4rem;
  cursor: pointer;
}

.IconAvatar {
  height: 30px;
  width: 30px;
}

.Invite {
  background: radial-gradient(
    100% 1267.36% at 0% 50%,
    #f42b4d 0%,
    #fa541a 100%
  );
  color: #fafafa;
  border-radius: 200px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .ProfileAvatar {
    width: 75px;
    height: 75px;
  }
  .LogoImage {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 2500px) {
  .IconAvatar {
    height: 60px;
    width: 60px;
  }
  .LogoImage {
    width: 125px;
    height: 125px;
  }
  .ProfileAvatar {
    width: 100px;
    height: 100px;
  }

  .MenuText,
  .Invite {
    font-size: 2rem;
  }

  .MenuSubText {
    font-size: 1.6rem;
  }
  .Menu {
    max-height: 600px;
  }
}

@media screen and (max-width: 1600px) {
  .LogoImage {
    width: 65px;
    height: 65px;
  }
  .MenuText,
  .Invite {
    font-size: 1.4rem;
  }
  .MenuSubText {
    font-size: 1rem;
  }
  .Menu {
    max-height: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .LogoImage {
    width: 60px;
    height: 60px;
  }
  .MenuText,
  .Invite {
    font-size: 1.2rem;
  }

  .MenuSubText {
    font-size: 0.8rem;
  }
  .Menu {
    max-height: 300px;
  }
}
