.ButtonWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.Button {
  background: none;
  font-size: 18px;
  color: #616161;
  padding: 1rem 2rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.6s ease-in-out; */
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.Button2 {
  background: none;
  font-size: 18px;
  color: #616161;
  padding: 1rem 4rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

/* .Button:hover{
  color: #FAFAFA;
  background-color:#FA541A;
  border: 1.5px solid #FA541A;
} */

.Button3 {
  background: none;
  font-size: 18px;
  color: #616161;
  padding: 1rem 2rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.Button4 {
  background: none;
  font-size: 18px;
  color: #616161;
  width: 100%;
  padding: 1rem 2rem;
  /* border: 1.5px solid #616161; */
  border-color: #616161;
  border-width: 1px;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.Button5 {
  background: none;
  font-size: 18px;
  color: #313131;
  padding: 0.5rem 4rem;
  /* border: 1.5px solid #616161; */
  border-color: #313131;
  border-width: 1px;
  border-radius: 200px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.ButtonIcon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.ButtonIcon2 {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}

@media screen and (min-width: 2500px) {
  .Button {
    font-size: 26px;
  }

  .Button2 {
    font-size: 26px;
  }

  .Button3 {
    font-size: 26px;
  }

  .Button4 {
    font-size: 26px;
  }
  .Button5 {
    font-size: 26px;
  }
}

@media screen and (max-width: 1600px) {
  .Button {
    font-size: 13px;
  }

  .Button2 {
    font-size: 13px;
  }

  .Button3 {
    font-size: 13px;
  }
  .Button4 {
    font-size: 13px;
  }
  .Button5 {
    font-size: 26px;
  }
}

@media screen and (max-width: 1200px) {
  .Button {
    font-size: 10px;
  }

  .Button2 {
    font-size: 10px;
    padding: 1rem 3rem;
  }

  .Button3 {
    font-size: 10px;
  }
   .Button5 {
    font-size: 10px;
    padding: 0.5rem 3rem;
  }
}
