.ButtonWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.ButtonLight {
  background: none;
  font-size: 18px;
  width: fit-content;
  padding: 1rem 2rem;
  border: 1.5px solid #616161;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.ButtonLight2 {
  background: none;
  font-size: 18px;
  padding: 1rem 4rem;
  border: 1.5px solid #616161;
  border-radius: 200px;
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15); */
}

.ButtonLight3 {
  background: none;
  font-size: 18px;
  width: fit-content;
  padding: 1rem 2rem;
  border: 1.5px solid #616161;
  border-radius: 200px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.ButtonLight4 {
  background: none;
  font-size: 18px;
  width: 100%;
  padding: 1rem 0rem;
  border: 1.5px solid #616161;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.ButtonIcon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.ButtonIcon2 {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}

@media screen and (min-width: 2500px) {
  .ButtonLight {
    font-size: 26px;
  }

  .ButtonLight2 {
    font-size: 26px;
  }

  .ButtonLight3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 1600px) {
  .ButtonLight {
    font-size: 12px;
  }

  .ButtonLight2 {
    font-size: 12px;
  }

  .ButtonLight3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .ButtonLight {
    font-size: 10px;
    padding: 1rem 3rem;
  }

  .ButtonLight2 {
    font-size: 10px;
    padding: 1rem 3rem;
  }

  .ButtonLight3 {
    font-size: 10px;
    padding: 1rem 3rem;
  }
}
