.Container {
  margin: 8px 0px;
  padding: 2rem 2rem;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  cursor: pointer;
}

.Row {
  margin-bottom: 1rem;
}

.BookRow {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.DetailRow {
  padding: 0rem 2rem;
}

.FooterRow {
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DetailColumn {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Avatar {
  height: 10rem;
  width: 10rem;
}

.Name {
  font-size: 2rem;
  font-weight: 700;
}

.Description {
  font-size: 1.8rem;
}

.Icon {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #0b86ca;
}

.Title {
  color: #313131;
  font-weight: 700;
  font-size: 1.8rem;
}

.SubTitle {
  color: #313131;
  font-size: 1.6rem;
}

.FooterText {
  font-size: 1.2rem;
  color: #616161;
}

.Tag {
  background: none;
  font-size: 1.6rem;
  margin: 0.5rem 0rem;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  border: 1.5px solid #616161;
  color: #616161;
  box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 2.4rem;
  }

  .Description {
    font-size: 2.2rem;
  }

  .Title {
    font-size: 2.2rem;
  }

  .SubTitle {
    font-size: 2rem;
  }

  .Icon {
    font-size: 2.2rem;
  }

  .Tag {
    font-size: 2rem;
  }
  .FooterText {
    font-size: 1.6rem;
  }

  .Avatar {
    height: 11rem;
    width: 11rem;
  }
}

@media screen and (max-width: 1600px) {
  .Name {
    font-size: 1.8rem;
  }

  .Description {
    font-size: 1.6rem;
  }

  .Title {
    font-size: 1.6rem;
  }

  .SubTitle {
    font-size: 1.4rem;
  }

  .Icon {
    font-size: 1.6rem;
  }

  .Tag {
    font-size: 1.4rem;
  }
  .FooterText {
    font-size: 1rem;
  }
  .Avatar {
    height: 9rem;
    width: 9rem;
  }
}

@media screen and (max-width: 1280px) {
  .Name {
    font-size: 1.6rem;
  }

  .Description {
    font-size: 1.4rem;
  }

  .Title {
    font-size: 1.4rem;
  }

  .SubTitle {
    font-size: 1.2rem;
  }

  .Icon {
    font-size: 1.4rem;
  }

  .Tag {
    font-size: 1.2rem;
  }
  .FooterText {
    font-size: 0.8rem;
  }
  .Avatar {
    height: 8rem;
    width: 8rem;
  }
}
