.Container {
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  background-color: #fafafa;
  border-radius: 10px;
}

.Avatar {
  width: 6rem;
  height: 6rem;
}

.DetailColumn {
  color: #616161;
  font-weight: 400;
  display: flex;
  justify-content: left;
  align-items: center;
}

.ButtonColumn {
  display: flex;
  justify-content: right;
  align-items: center;
}
.DetailWrapper{
  margin: 0rem 1.5rem;
}

.Name {
  font-size: 1.6rem;
  font-weight: 600;
}

.Description {
  font-size: 1.4rem;
}

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 2rem;
  }

  .Description {
    font-size: 1.8rem;
  }
  .Avatar {
    width: 7rem;
    height: 7rem;
  }
}

@media screen and (max-width: 1600px) {
  .Name {
    font-size: 1.4rem;
  }

  .Description {
    font-size: 1.2rem;
  }
  .Avatar {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 1280px) {
  .Name {
    font-size: 1.2rem;
  }

  .Description {
    font-size: 1rem;
  }

  .Avatar {
    width: 4rem;
    height: 4rem;
  }
}
