.Container{
  margin: 8px 0px;
  padding:0rem 1rem;
  background-color: #FAFAFA;
  border-radius: 10px;
}

.AvatarCol{
    margin-right: 1rem;
    /* background-color: red; */
}

.Avatar{
    height: fit-content;
    width: fit-content;
}

.MiddleCol{
    padding: 0rem 2rem;
}

.Name{
    font-size: 20px;
    font-weight: bold;
}

.Description{
    font-size : 18px;
    font-weight: lighter;
}

.ButtonCol{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 30px;
    font-weight: 700;
  }

  .Description {
    font-size: 26px;
    font-weight: 400;
  }
}
