.Container {
  margin-bottom: 0.5rem;
  padding: 0rem 1rem;
  background-color: #fafafa;
  border-radius: 10px;
}

.AvatarCol {
  margin-right: 0.5rem;
  /* background-color: red; */
}

.Avatar {
  height: fit-content;
  width: fit-content;
}

.MiddleCol {
  padding: 0rem 2rem;
}

.Name {
  font-size: 20px;
  font-weight: bold;
}

.Description {
  font-size: 18px;
  font-weight: lighter;
}

.ButtonCol {
  /* background-color: blue; */
  display: flex;
  justify-content: right;
  align-items: center;
}

@media screen and (min-width: 2500px) {
  .Name {
    font-size: 30px;
  }

  .Description {
    font-size: 28px;
  }
  .Avatar {
    max-height: 120px;
    max-width: 120px;
  }
}

@media screen and (max-width: 1600px) {
  .Name {
    font-size: 15px;
  }

  .Description {
    font-size: 13px;
  }
}
