.Body {
  min-height: 100vh;
    padding-bottom: 4rem;
  background-color: #f3f2ef;
}

.Sidebar {
  display: flex;
  justify-content: right;
}

.MiddleCol{
  padding-top: 3rem;
}

.TagRow{
  padding: 0rem 2rem;
}



