.Body {
  min-height: 200vh;
  overflow: auto;
  background-color: #E5E5E5;
}

.sidebarPos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0rem;
}

.rowStyling{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.middleCol{
  padding-top: 3rem;
}

