.Body {
  min-height: 200vh;
  overflow: auto;
  background-color: #E5E5E5;
}

.Sidebar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
}

.MiddleCol{
  padding-top: 3rem;
}