.Body {
  min-height: 100vh;
  padding-bottom: 4rem;
  background-color: #f3f2ef;
  overscroll-behavior: contain !important;
}

.Sidebar {
  display: flex;
  justify-content: right;
}

.MiddleCol {
  padding-top: 3rem;
}

