.Body {
  min-height: 100vh;
  padding-bottom: 4rem;
  background-color: #e5e5e5;
}

.Sidebar {
  display: flex;
  justify-content: right;
}

.MiddleCol {
  padding-top: 3rem;
}

.LearnRow {
  margin-bottom: 1rem;
}

.LearnText {
  font-size: 1.8rem;
  font-weight: 500;
  color: #313131;
}

.LearnBookingLink {
  font-size: 1.8rem;
  color: #0500ff;
  text-decoration: underline;
}

.LearnCol {
  display: flex;
  justify-content: left;
}

.LearnCol2 {
  display: flex;
  justify-content: right;
}

.CourseCardStyle {
  background: none;
  border: none;
  padding: 2rem 0rem;
  margin-top: 5rem;
}

.CourseImageWrap {
  display: flex;
  justify-content: center;
}

.CourseImage {
  width: 100px;
  height: 100px;
}

.CourseTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 26px;
  /* background-color: #0500ff; */
}

.CourseSubTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #f9511c;
  font-size: 26px;
  margin-bottom: 2rem;
  /* background-color: #0500ff; */
}

.CourseDescriptionRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CourseDescription {
  text-align: center;
  color: #616161;
  font-size: 20px;
  /* background-color: #0500ff; */
}

@media screen and (min-width: 2500px) {
  .LearnText {
    font-size: 2.2rem;
  }

  .LearnBookingLink {
    font-size: 2.2rem;
  }
  .CourseImage {
    width: 125px;
    height: 125px;
  }
  .CourseTitle {
    font-size: 36px;
  }
  .CourseSubTitle {
    font-size: 36px;
  }

  .CourseDescription {
    font-size: 30px;
  }
}

@media screen and (max-width: 1600px) {
  .LearnText {
    font-size: 1.6rem;
  }
  .LearnBookingLink {
    font-size: 1.6rem;
  }
  .CourseImage {
    width: 75px;
    height: 75px;
  }
  .CourseTitle {
    font-weight: 700;
    font-size: 18px;
  }
  .CourseSubTitle {
    font-size: 18px;
  }
  .CourseDescription {
    font-size: 15px;
  }
}


@media screen and (max-width: 1600px) {
  .LearnText {
    font-size: 1.4rem;
  }
  .LearnBookingLink {
    font-size: 1.4rem;
  }
}

