.Body {
  min-height: 100vh;
  padding-bottom: 4rem;
  background-color: #e5e5e5;
}

.Sidebar {
  display: flex;
  justify-content: right;
}

.MiddleCol {
  padding-top: 3rem;
}

.LearnRow {
  margin-bottom: 1rem;
}

.LearnText {
  font-size: 22px;
  font-weight: 500;
  color: #313131;
}

.LearnBookingLink {
  font-size: 20px;
  color: #0500ff;
  text-decoration: underline;
}

.LearnCol {
  display: flex;
  justify-content: left;
}

.LearnCol2 {
  display: flex;
  justify-content: right;
}

.CourseCardStyle {
  background: none;
  border: none;
  padding: 2rem 5rem;
  margin-top: 5rem;
}

.CourseTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
}

.CourseSubTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #F9511C;
  font-size: 24px;
  margin-bottom: 2rem;
}

.CourseDescription {
  display: flex;
  justify-content: center;
  color: #616161;
  font-size: 20px;
}

.CourseImage {
  transform: rotate(90deg);
}

@media screen and (max-width: 1600px) {
  .LearnText {
    font-size: 16px;
  }

  .LearnBookingLink {
    font-size: 15px;
  }
}

@media screen and (min-width: 2500px) {
  .LearnText {
    font-size: 32px;
  }

  .LearnBookingLink {
    font-size: 30px;
  }

  .CourseTitle {
    font-weight: 700;
    font-size: 34px;
    margin: 2rem 0rem;
  }

  .CourseSubTitle {
    color: #616161;
    font-size: 32px;
  }
}
