.mainSectionWrapper {
    height: 100vh;
	padding: 7.3rem 7.3rem;
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.colimg{
    background-color: #FFF1F0;
}

/* .collogin{
    background-color: #ffaaaa;
} */

.contentWrapper {
    position: absolute;
    width : 20rem;
    left: calc(50% - 20rem/2);
    top: calc(50% +  8rem/2);
}

.contentWrapper1 {
    position: absolute;
    width : 15rem;
    left: calc(50% - 15rem/2);
    top: calc(50% +  8rem/2);
}


.imageWrapper{
    position: absolute;
    width:11rem;
    height: 11rem;
    left: calc(50% - 11rem/2);
    top: calc(50% -  34.438rem/4);
    border-radius: 0.625rem;

}



@media screen and ( max-width:62rem) {
    
    .mainSectionWrapper {
        padding: 0rem 0rem;
        background: #FFF1F0;
    }
    
    .contentWrapper {
        top: calc(50% +  5rem/2);
    }
    
    .contentWrapper1 {
        top: calc(50% +  5rem/2);
    }
}

@media screen and (max-width: 62rem ) {
    @media screen and (min-height: 46.875rem ) {
        .mainSectionWrapper {
            padding: 0rem 0rem;
            background: #FFF1F0;
        }
        
    }
    @media screen and (max-height: 46.875rem ){
        .imageWrapper{
            position: absolute;
            width:5rem;
            height:5rem;
            left: calc(50% - 5rem/2);
            top: calc(50% -  34.438rem/4);
            border-radius: 0.625rem;
            margin-top: .5rem;
        }
        .contentWrapper {
            top: calc(50% - 12rem/4);
        }
        
        .contentWrapper1 {
            top: calc(50% - 12rem/4);
        }
    }
}
