.mainSectionWrapper {
    min-height: 100vh;
    overflow: auto;
    background-color: #FFF1F0; 
    
}

.imageWrapper{
    width:12rem;
    height: 12rem;
    border-radius:1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13rem;
    margin-bottom: 0rem;
}

.collogin{
    background-color: red;
}

@media screen and ( max-height: 900px) {
        .imageWrapper{
            margin-top: 3rem;
        }
}



/* @media screen and ( max-height: 860px) {
    .mainSectionWrapper{
       padding-bottom: 50rem;
    }
} */