.mainSectionWrapper {
    height: 100vh;
    padding: 7.3rem 7.3rem;
    background-color: #FFF1F0;
    overflow: auto;
    
}

.imageWrapper{
    width:12rem;
    height: 12rem;
    border-radius:1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
}

@media screen and ( max-height:1024px) {
    
}

@media screen and ( min-height:1025px) {
    .imageWrapper{
        width:14rem;
        height:14rem;
    }
}


/* 1.4 */
@media screen and ( min-width : 1920px) {
    .mainSectionWrapper{
        padding : 15rem 15rem;
    }
}

/* 1.6 */
@media screen and ( min-width : 2500px) {
    .mainSectionWrapper{
        padding : 20rem 20rem;
    }
}