.mainSectionWrapper {
    height: 100vh;
	padding:12rem 12rem;
    background-color: #FFF1F0;
}



.imageWrapper{
    width:12rem;
    height: 12rem;
    border-radius:1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
}


@media screen and ( max-width: 80rem) {
    .mainSectionWrapper{
        padding : 12rem 2rem;
    }
}