.Body {
  min-height: 100vh;
  padding-bottom: 4rem;
  background-color: #e5e5e5;
}

.Sidebar {
  display: flex;
  justify-content: right;
}

.Sidebar2 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-right: 2rem;
}

.MiddleCol {
  padding-top: 3rem;
}

.ThirdCol {
  padding-right: 5rem;
  padding-top: 6rem;
}

.ContentRow {
  padding: 0rem 1rem;
}

.ScInput {
  width: 100%;
  border-radius: 100px;
  margin-bottom: 10px;
}

.ScIconSize {
  font-size: 25px;
  margin-right: 1rem;
  color: #C2C2C2;
}

.ScCard {
  background-color: #fafafa;
  margin: 2rem 0rem;
  border-radius: 10px;
  font-size: 14px;
  padding: 1rem 1rem;
}

.ScButton {
  background: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin: 1rem 0rem;
  margin-right: 2rem;
  border: 1px solid #333333;
  color: #333333;
  cursor: pointer;
}

.ScButtonDark {
  background: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin: 1rem 0rem;
  margin-right: 2rem;
  border: 1px solid black;
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  color: #fafafa;
  cursor: pointer;
}

@media screen and (min-width: 2500px) {
  .ScButton, .ScButtonDark {
    font-size: 2rem;
  }
  .ScCard {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1600px) {
  .ScButton, .ScButtonDark {
    font-size: 1.4rem;
  }
  .ScCard {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1280px) {
  .ScButton, .ScButtonDark {
    font-size: 1.2rem;
  }
  .ScCard {
    font-size: 1rem;
  }
}
