.Body {
  min-height: 200vh;
  background-color: #e5e5e5;
}

.Sidebar {
  display: flex;
  justify-content: right;
}

.Sidebar2 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.MiddleCol {
  padding-top: 3rem;
}

.ContentRow {
  padding: 0rem 1rem;
}

.ScInput {
  width: 100%;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.ScIconSize {
  font-size: 25px;
  margin-right: 1rem;
}

.ScCard {
  background-color: #fafafa;
  margin: 6rem 1rem;
  border-radius: 10px;
  font-size: 14px;
  padding: 1rem 2rem;
}

.ScButton {
  background: none;
  font-size: 18px;
  padding: 1rem 1rem;
  border-radius: 50px;
  margin-top: 2rem;
  margin-right: 2rem;
  border: 1px solid black;
  cursor: pointer;
}

@media screen and (min-width: 2500px) {
  .ScButton {
    font-size: 26px;
  }
  .ScCard {
    font-size: 24px;
  }
}

@media screen and (max-width: 1600px) {
  .ScButton {
    font-size: 14px;
  }
  .ScCard {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .ScButton {
    font-size: 11px;
  }
  .ScCard {
    font-size: 10px;
  }
}
