.cardWrapper {
  width: 100%;
  height: fit-content;
  margin-bottom: 3rem;
  background-color: #fafafa;
  border-radius: 30px;
  
}

.cardInfoWrapper {
  background-color: #fafafa;
}

.RowBackground {
  height: fit-content;
}

.row {
  height: 45px;
  margin-bottom: 1rem;
}

.row2{
    padding: 0rem 3rem;
    font-size: 18px;
    color: #313131;
}

.row3{
     padding: 0rem 3rem;
     font-size: 14px;
     text-decoration: underline;
     color: #616161;
}


.row4{
    /* background-color: greenyellow; */
    padding: 2rem 3rem;
    flex-grow : 1;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 8px 8px -1px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.row5{
    padding: 3rem 2rem;
}
.card {
  background-color: #fafafa;
  padding: 1rem 2rem;
  margin-left: 3rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: translateY(-50%);
}

.Text {
  font-size: 22px;
  font-weight: 700;
  color: #F42B4D;
 
}

.Text2{
    font-size: 16px;
    color: #F42B4D;
}

.heading{
    font-weight: 700;
    margin: 1rem 0rem;
    font-size: 1.6rem;
}

.description{
    font-size: 1.6rem;
}