.Tag {
  background: none;
  border: 1px solid #616161;
  color: #616161;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top:0.75rem;;
  margin-right: 1rem;
  padding: 0rem 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.TagActive {
  background: none;
  color: #FA541A;
  border: 2px solid #FA541A;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top:0.75rem;
  margin-right: 0.75rem;
  padding: 0rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.ViewAll{
  cursor: pointer;
  color: #FA541A;
  margin-top: 1rem;
  font-size: 1.6rem;
  text-decoration: underline;
}

.Close {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #FA541A;
  margin-top: 1rem;
  font-size: 1.6rem;
  text-decoration: underline;
}

@media screen and (max-width: 1280px) {
  .Tag , .TagActive, .Close, .ViewAll {
    font-size: 1.2rem
  }
}

@media screen and (max-width: 1600px) {
  .Tag , .TagActive, .Close, .ViewAll {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 2500px) {
  .Tag , .TagActive, .Close, .ViewAll {
    font-size: 2rem;
  }
}
