.LabelButtonWrapper {
  position: absolute;
  margin: 2rem 0rem;
  padding: 0rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LabelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  border: 0px;
}

.LabelButtonIcon {
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
}

@media screen and (min-width: 2500px) {
  .LabelButton {
    font-size: 1.6rem;
  }

  .LabelButtonIcon {
    width: 30px;
    height: 30px;
  }

  .BookInfoButton {
    font-size: 26px;
  }

  .BookInfoIcon {
    width: 26px;
    height: 26px;
  }

  .BookButton {
    font-size: 26px;
  }

  .BookIcon {
    width: 26px;
    height: 26px;
  }

  .SidebarIcon {
    width: 26px;
    height: 26px;
  }
}
